<% layout('/layouts/boilerplate') %>


<div class="container row">
  <div>
    <h2 align="center">Centers In Your Area </h2><br /><br />
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= center.name %> </h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= center.address %> </h6>
        <p class="card-text">Time: <%= center.from %> to <%= center.to %> </p>
        <% if(center.vaccine_fees === undefined){ %>
          <p class="card-text"><b>Vaccine: </b><%= center.sessions[0].vaccine %> </p>
          <p class=" card-text"><b>Price: </b><%=center.fee_type%>  </p>
        <% } else { %>
          <% for(vac of center.vaccine_fees){ %>
            <p class="card-text"><b>Vaccine: </b><%= vac.vaccine %></p>
            <p class=" card-text"><b>Price: </b><%= vac.fee %>  </p>
          <% } %> 
        <% } %>
        <p class="card-text"><b>Dates Available:</b> <br> 
          <% for(session of center.sessions){%>
            <%=session.date%> <br> 
          <% } %>  
        </p>
        <p class="card-text"><b>Slots Available: </b><%=center.sessions[0].slots%> </p>
        <a href="#" class="card-link btn btn-primary">Schedule Appointment</a>
        <a href="/" class="card-link btn btn-primary">Go to Home Page</a>
      </div>
    </div>

  </div>
</div>